svg {
  border: 1px solid #999;
}

text {
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  font-size: 14px;
}

rect {
  fill: #fff;
}

.node rect {
  stroke: #000;
  stroke-width: 4px;
  fill: none;
}

.UP rect{
  stroke: #CCC;
}

.DOWN rect{
  stroke: #F00;
}

.ATRISK rect{
  stroke: #F90;
}

.edge rect {
  fill: #fff;
}

.edgePath path {
    stroke: #333;
    stroke-width: 4px;
    fill: none;
}

.impactNode{
    padding: 10px;
    vertical-align: top;
}